[2016-12-07 19:40] sGerli opened #1 "Create UI"
Create a UI with Bootstrap 4 (yes I know its still in Alpha).

- [x] Create Home Page
- [x] Create App Detail Page
- [x] Create Category Page
- [x] Add Search Page

[2016-12-07 19:44] sGerli opened #2 "Design Home Page"
Design a home page for the app store

[2016-12-07 19:51] sGerli opened #3 "Design App/Watchface Page"
Includes:

- For apps add app icons
- App Banner (Original app store size 720px x 320px)
- Heart rating
- Download Button (Is there any way to integrate it with the Pebble app?).
- Author Name
- Screenshots (At least one for every watch supported grouped by watch type Ex: Pebble 2, Time, Time Round, Maybe time 2). In their original size.
- Watchface description
- Version history
- Support link
- A

[2016-12-07 19:52] sGerli opened #4 "Design Featured/Author page"
A page in where you can see al apps in featured section or all apps made by an author.

[2016-12-07 19:56] sGerli opened #5 "Create Backend"
Includes:

- [x] Decide Backend Language.
- [ ] Connection to app, category, screenshots, author DB.
- [ ] Make a new dev-portal in which authors can upload .pbw, screenshots, app/watchface banners, app icons, descriptions, and manage their app versions.
- [ ] Add moderators that can moderate the App Store and its submissions.
- [ ] Check that .pbw aren't masked viruses.
- [x]  Rest API
-  Probabl

[2016-12-08 17:15] sGerli commented on #2
Homepage done
![Home Page Screenshot](https://cloud.githubusercontent.com/assets/3890044/21019807/7425e18e-bd37-11e6-843b-20df71145597.png)

[2016-12-08 17:15] #2 closed, assigned to sGerli

[2016-12-08 17:48] sGerli opened #6 "Mobile Cards"
On small screens only one column is shown, find a way to get at least 2, but 3 would be perfect.

[2016-12-08 17:49] sGerli opened #7 "Add Search to UI"
Add search bar to UI

[2016-12-09 02:17] sGerli commented on #4
Done
**Author page**
![Author](https://cloud.githubusercontent.com/assets/3890044/21035243/429bfd6e-bd83-11e6-8740-7bed108b2cf1.png)
**Featured page**
![Category](https://cloud.githubusercontent.com/assets/3890044/21035242/429b6e76-bd83-11e6-9c90-f5374832856b.png)

[2016-12-09 02:18] #4 closed, assigned to sGerli

[2016-12-10 18:34] KonradIT commented on #6
Partially fixed, fix coming soon.

[2016-12-10 19:06] #6 closed, assigned to sGerli

[2016-12-10 19:06] sGerli commented on #6
Fixed by @KonradIT

[2016-12-11 02:05] sGerli opened #9 "Change the App Cards to Flexbox"
Change the app cards to Flexbox and make them work on all display sizes with 3-4 columns.

[2016-12-11 09:26] KonradIT commented on #9
Who's doing this? I can do it today

[2016-12-11 10:11] KonradIT opened #11 "Watchfaces page responsive on mobile"
Watchface page needs to be 3 columns on mobile, same as apps.

Possibly using flexbox or my table thing (flexbox preferred)

[2016-12-11 14:02] sGerli commented on #9
Ok, do it

[2016-12-11 19:45] sGerli commented on #11
Fixed On las PR

[2016-12-11 19:45] #11 closed, assigned to KonradIT

[2016-12-11 19:45] sGerli commented on #9
Fixed on last PR

[2016-12-11 19:45] #9 closed, assigned to KonradIT

[2016-12-11 22:09] sGerli opened #18 "Add Screenshots"
Add screenshots to the App Detail Page.
Must be like the screenshot slider from the Pebble App Store.
Must have no background color and must be mobile friendly.

[2016-12-11 22:32] aveao commented on #18
You know, I never liked the slider in pebble store. It was... too bulky, too big. It covered half my screen for no good reason.

I propose doing something smaller.

---

![screenshot from 2016-12-12 01-42-09](https://cloud.githubusercontent.com/assets/6755762/21083979/4b190c24-c004-11e6-9dd9-3b5f5497c5d0.png)

As you can see, actual screenshot is only slightly bigger than 1/3 of the reserved area.

[2016-12-11 22:57] sGerli commented on #18
Ok, @JohannesNeubrand proposed to do something smaller, without the frame, but still with sidescrolling.

[2016-12-12 00:15] #18 closed, assigned to nobody

[2016-12-12 00:17] sGerli opened #20 "Fix Screenshots"
Make Slick Js behave correctly and make the right slider breakpoints.

This might help:
[http://kenwheeler.github.io/slick/](http://kenwheeler.github.io/slick/)

[2016-12-12 00:18] sGerli commented on #3
Done
![screencapture-file-c-users-sgerli-development-rebble-panicstore-build-app-details-html-1481501894016](https://cloud.githubusercontent.com/assets/3890044/21084772/3409e5c0-bfce-11e6-95d4-fa7e1b4b96b0.png)

[2016-12-12 00:18] #3 closed, assigned to sGerli

[2016-12-12 01:34] magmastonealex commented on #20
#21 fixes this by removing slick.js. It's a lot of bloat for a single slider.

[2016-12-12 01:36] #20 closed, assigned to nobody

[2016-12-12 12:49] ShawnBaek commented on #5
How about use parse-server as backend?

[2016-12-12 20:39] KonradIT commented on #5
Here is how I frame it:

The store fetches a JSON list with the app names ([like this](https://gist.github.com/KonradIT/0d74b358cfd8c0ce801161e80efa01ae)), then it fetches the app UUID and generates from that the app-details page, I'll use @ardaozkal's mirror for a quick demo.

[2016-12-12 20:41] okschlatter commented on #5
You could probably use SQL.

On Mon, Dec 12, 2016, 3:39 PM Konrad Iturbe <notifications@github.com>
wrote:

[2016-12-12 21:11] Zetaphor commented on #5
I'm debating between putting up a poll, and simply starting with a set of technologies I choose.

We know we're going to need at least 3 things to make this stack happen:
* A client-side framework to do the heavy lifting
* A REST API on the server to provide data to the frontend
* A database to store all of this information

I'm personally in the camp of Vue for the frontend, Flask for the backend

[2016-12-12 21:49] Zetaphor opened #25 "Transition current frontend to VueJS"
@sGerli and I are going to begin transitioning the current work on the frontend to integrate with the VueJS framework. This will allow us to easily integrate the upcoming REST API when that comes, and present a functional proof of concept in the meantime.

This work will involve moving all of the pages into single-file templates, and further consolidating redundant visual components into actual re

[2016-12-12 21:58] torharrington commented on #5
if we have the original JSON could we use some document store like mongo or documentdb or something?

[2016-12-13 02:14] moejay commented on #5
How about we set out to define REST APIs using swagger?

[2016-12-13 02:17] moejay commented on #5
Also @sGerli , should we even look at CI now?

[2016-12-13 03:26] sGerli commented on #5
Not yet

[2016-12-13 03:48] PotatoFi opened #26 "Add Icons to UI"
These icons aren't specific designed for the higher resolutions, but I wanted to provide them anyway, just in case.

[SVG's.zip](https://github.com/pebble-dev/The-Panic-Store/files/647956/SVG.s.zip)

25px:
![calendar 25px](https://cloud.githubusercontent.com/assets/19558338/21126701/1858b2a6-c0ab-11e6-896c-0cf3f817b3df.png)
64px:
![calendar 64px](https://cloud.githubusercontent.com/assets/19558338

[2016-12-13 04:16] sGerli commented on #26
@PotatoFi Can you also put here the App and Watchface icons?

[2016-12-13 17:33] PotatoFi commented on #26
[App and Watchface SVGs.zip](https://github.com/pebble-dev/The-Panic-Store/files/649619/App.and.Watchface.SVGs.zip)
![app25px](https://cloud.githubusercontent.com/assets/19558338/21151368/7cf5fa1a-c11f-11e6-9d2a-62cfb1366b88.png)
![app64px](https://cloud.githubusercontent.com/assets/19558338/21151369/7ddeade6-c11f-11e6-8388-260c3ae8eb92.png)
![app128px](https://cloud.githubusercontent.com/assets/1

[2016-12-13 19:49] sGerli commented on #26
I think that works, thanks

[2016-12-14 22:08] sGerli opened #28 "Order Main SCSS"
- Order scss
- Make variables file
- Add comments
- Separate into files

[2016-12-16 21:58] sGerli commented on #28
Fixed in a15baf5

[2016-12-16 21:58] #28 closed, assigned to sGerli

[2016-12-17 03:51] sGerli commented on #26
Done in #30

[2016-12-17 03:51] #26 closed, assigned to sGerli

[2016-12-17 04:12] sGerli opened #32 "Design Error Page"
Generic error page just with different text depending on error

[2016-12-17 21:13] sGerli commented on #32
Started in proposal #33

[2016-12-18 03:34] sGerli commented on #32
Done.
![screencapture-file-c-users-sgerli-development-rebble-panicstore-build-404-html-1482031540091](https://cloud.githubusercontent.com/assets/3890044/21291336/844e0292-c4a0-11e6-9d1e-580afcfdd3f8.png)

[2016-12-18 03:34] #32 closed, assigned to nobody

[2016-12-20 15:28] KonradIT opened #37 "app-details/app-version needs title centered, DL SVG fix"
### Main page, centered:
![imagen](https://cloud.githubusercontent.com/assets/5891284/21356177/efcd5f4a-c6d0-11e6-9000-140b61de57f1.png)

### App-details, not centered

![imagen](https://cloud.githubusercontent.com/assets/5891284/21356200/089939ea-c6d1-11e6-8543-ac48106d718d.png)

### Download button gfx is broken (Firefox 50 on Windows 10)

![sin titulo](https://cloud.githubusercontent.com/assets

[2016-12-20 15:41] sGerli commented on #37
Download button is broken in all browsers and I can confirm it's not a CSS issue, I disabled CSS and the issue was still there.

[2016-12-20 15:48] sGerli commented on #37
SVG are in #26 I changed the colors in the icon and changed the fill to none

[2016-12-20 15:51] Zetaphor commented on #37
Looks even worse for me in Chrome 55 on Linux :cry:

![image](https://cloud.githubusercontent.com/assets/3112763/21357132/1c0b4678-c6a2-11e6-89e4-0649f01c3630.png)

[2016-12-20 16:31] aveao commented on #37
the reason download button looks like that seems like someone tried to hack together a get icon by joining 2 rectangles with the down emoji.

See Rectangle-10 and Rectangle-11 on https://github.com/pebble-dev/The-Panic-Store/blob/master/src/app-details.html#L124

Also, can repro all on Firefox 50.1.0 on Ubuntu 16.10

[2016-12-20 16:39] sGerli commented on #37
And the centering issues are probably due to the back button.

[2016-12-20 16:53] #7 closed, assigned to sGerli

[2016-12-20 18:52] sGerli commented on #37
Fixed Centering issue in #38

[2016-12-20 21:15] KonradIT commented on #37
Fixed download icon in 740525e9

[2016-12-20 21:19] KonradIT opened #39 "App card layout broken on Android"
The app list on index.html, apps.html, featured.html are broken on Android, tested with Firefox 50.1.0

Screenshots:

![Screenshot_20161220-213906.png](http://i.imgur.com/DPxLXQ9.png)

![Screenshot_20161220-213956.png](http://i.imgur.com/HZIkzoj.png)

[2016-12-21 19:55] Zetaphor commented on #1
I think we can all agree the UI has been "created" :-)

Great work @sGerli!

[2016-12-21 19:55] #1 closed, assigned to sGerli

[2016-12-21 20:31] Zetaphor commented on #25
@mvaneijgen has done some great work getting a setup with Vue templates and vue-router <3. That is currently live on the vue branch. This work represents a vue setup with the latest additions from @sGerli.

I'm going to be doing some major refactoring to get this branch up and running with webpack and sass, as well as some component re-jiggering (folders) so we can have a clean and organized base

[2016-12-21 21:05] sGerli commented on #37
@KonradIT Can you use a better implementation of the SVG like in the Thumbs Up button in which we can change the colors depending on the hover state?

[2016-12-22 00:37] TheTechmage commented on #5
@moejay At least with golang and what's been pushed up so far, I've found that [test2doc](https://github.com/adams-sarah/test2doc) will automatically create documentation in the API Blueprint format. I would've liked it if it generated swagger docs (due to how many tools can render swagger), but it was the only library that I could find that would use the comments within the code and actual API re

[2016-12-22 00:57] Zetaphor commented on #25
The vue branch is now at parity with the current appstore in terms of appearance and functionality. We still need to work on moving the sass out of a giant compiled file and into the affected scoped components.

[2016-12-22 01:03] Zetaphor opened #46 "Move Sass to component files instead of giant global file"
Currently we're using main.css in the vue branch. This was compiled from the work done by @sGerli.

This needs to be split into smaller chunks that live inside of the components that the rules actually effect.

[2016-12-22 01:04] Zetaphor opened #47 "Move all SVG references to external files"
There's a number of repeated inline SVG's on the current vue branch.

These can all be moved to external files to reduce duplication and allow browser caching.

[2016-12-22 01:22] moejay commented on #5
Oh nice, it generates blueprint, we should be able to add a build step to convert to swagger spec if need be a quick search, turned out [this](https://github.com/kminami/apib2swagger)

[2016-12-22 01:26] sGerli commented on #47
Yes, that's right but there's no way of changing styles on external SVG that I'm aware of.

[2016-12-22 01:29] sGerli opened #48 "Rename Repository"
Rename the repository to the new store name "Rebble Store", preferably "RebbleStore".

[2016-12-22 14:33] Zetaphor commented on #48
Is it just my linux bias, or does anyone else have a vote for a lowercase style repo name?
ie: rebble-store

[2016-12-22 14:47] ishotjr commented on #48
+1 for LC; `rebble-store`? :bowtie:

[2016-12-22 14:57] sGerli commented on #48
Ok

[2016-12-22 16:44] Zetaphor commented on #47
Fixed in #50

@sGerli Not sure what you are referring to. I just pushed the change and all CSS styles are still applied to the SVG's correctly. Additionally this has resolved the issue with Chrome gnashing up the download icon:

![image](https://cloud.githubusercontent.com/assets/3112763/21432977/058b3782-c83c-11e6-8646-f860ad67304e.png)

[2016-12-22 16:44] #47 closed, assigned to Zetaphor

[2016-12-22 17:19] mvaneijgen commented on #39
Prefixes are missing on `column-count: 3;`. I think it's a good idea to implement a autoprefixer within `grunt` or `webpack` to prevent these kind of issues.

Agian

[2016-12-22 17:39] TheTechmage opened #51 "api.rebble.io and docs.rebble.io"
It would be nice (at least during the development stages) if we code have the API documentation and the APIs both online and easily accessible. I propose that the domain names both being api.rebble.io and docs.rebble.io.

I have a server that can serve the content of both of those at 23.94.164.141 and can host the services (at the least, during development).

Thought? @afourney, @sGerli, @ishotjr?

[2016-12-22 17:52] sGerli commented on #51
I Think it's a good idea

[2016-12-22 17:55] Zetaphor commented on #39
@mvaneijgen Autoprefixer is included in the webpack build on the vue branch.

[2016-12-22 18:01] mvaneijgen commented on #39
@Zetaphor cool. So this issue can be closed of than?

[2016-12-22 18:03] #39 closed, assigned to KonradIT

[2016-12-22 18:25] Zetaphor opened #53 "Transition to new backend repo"
sGerli has setup a [new backend repo exclusively for API work](https://github.com/pebble-dev/rebblestore-backend).

This will serve to clean up the commit tree and make it simpler for new developers to jump into the area of development relevant to their domain.

[2016-12-22 19:37] Zetaphor commented on #53
Thanks @frostyfrog!

Do we want to delete the dev/backend branch, or just note in the readme that it's moved?

[2016-12-22 19:37] #53 closed, assigned to TheTechmage

[2016-12-22 19:39] TheTechmage commented on #51
I switched the issue description from `doc` to `docs` because I realized how much more common the plural version was over the singular version.

[2016-12-22 19:48] TheTechmage commented on #5
We have split off the backend work into it's own repo. Further discussion should occur within that project's issue tracker.

Closing this issue since it is no longer relevant to the current repo.

P.S. Thanks for the tip @moejay, looks like that'll work! I've created a relevant ticket here: https://github.com/pebble-dev/rebblestore-api/issues/5

[2016-12-22 19:48] #5 closed, assigned to nobody

[2016-12-22 20:01] KonradIT commented on #37
@sGerli the colors already change on hover:

![pebble](https://cloud.githubusercontent.com/assets/5891284/21438510/b6e1dbe2-c889-11e6-8ae4-3056fbfa5ad3.gif)

[2016-12-22 21:12] sGerli commented on #37
Yes I know they change but that's not how they're supposed to, they are supposed to invert bg and fill colors link in this screenshot:
![img_4249](https://cloud.githubusercontent.com/assets/3890044/21440522/fec002da-c858-11e6-914b-014e2f0277d9.PNG)

But don't worry about doing any change in master until vue is merged into master. (Zetaphor was trying to fix that on the vue branch)

[2016-12-22 21:21] sGerli commented on #48
But I don't have admin privileges on this repo so I need @ishotjr to do it.

[2016-12-22 21:49] Zetaphor commented on #37
@sGerli This has been fixed in the vue branch.

[2016-12-22 22:27] mvaneijgen opened #56 "Create SVG sprite build process within the VUE branche (webpack?)"
A build process for importing all the SVG files used on the site within the `SvgContainer.vue` file and have the ID be the file name of the SVG, like so `<svg id="{{filename}}>....</svg>`.

Because we're using Webpack it would be nice to implement it within this.

[2016-12-22 22:33] mvaneijgen opened #57 "Rebuild SVGs used on the site with SVGO compressor (for Sketch OSX)"
The current SVG files look nice, but have a lot of unnecessary code within them. Saving SVGs from Sketch (OSX only) with the [SVGO compressor](https://github.com/BohemianCoding/svgo-compressor) plugin will strip all the unnecessary code automatically.

Next we need to name the files (with a unique name) which is going to be used to call the SVG files within the site.

PS: I am really picky with SV

[2016-12-22 23:00] mvaneijgen commented on #56
Cleaned up SVG files and put them in `/src/assets/svg/...` see PR https://github.com/pebble-dev/The-Panic-Store/pull/58

[2016-12-22 23:24] TheTechmage commented on #53
I didn't even notice that this ticket existed. I don't think that I have the ability to remove a branch, but I think that it's the approach that should be taken.

[2016-12-23 00:46] Zetaphor commented on #57
A huge :+1: to this. Today was my first time looking through SVG markup, and all the extraneous tags weren't helping my comprehension :-D

[2016-12-23 01:42] sGerli commented on #53
Done, the `dev/backend` branch is gone.

[2016-12-23 02:40] Zetaphor opened #61 "Order of SVG's in DOM affects rendering"
I'm not sure what to make of this. If the iconApp SVG is below any other SVG, it looks broken to varying degrees.

Here's an example with it below iconSearch in the SvgContainer component:
![image](https://cloud.githubusercontent.com/assets/3112763/21445993/db222264-c88e-11e6-9146-326fd0b26475.png)

And here it is moved to the top of the SvgContainer component:
![image](https://cloud.githubusercon

[2016-12-23 02:41] Zetaphor commented on #61
It just dawned on me, that first screenshot kind of looks like it has the arrow from the download icon inside of it. When the SVG was below iconSearch, it was *also* beneath iconDownload. Could that be the culprit?

[2016-12-23 04:25] ishotjr commented on #48
[Renamed](https://github.com/pebble-dev/rebble-store)!  Don't forget to update remotes, `gh-pages` links (I'll take care of `rebble.io`), etc. :bowtie:

[2016-12-23 04:25] #48 closed, assigned to ishotjr

[2016-12-23 04:29] ishotjr commented on #51
@frostyfrog so just to confirm, all you need is a `CNAME` for each, pointing at that IP?  Are the corresponding services up now?  Thanks!! :bowtie:

[2016-12-23 05:14] TheTechmage commented on #51
Not sure if a CNAME will work against an IP (I could provide a DNS entry if needed), but yeah. Basically. I've made sure that the services are online and available via the aforementioned IP.

[2016-12-23 05:18] ishotjr commented on #48
FYI I added a *new* https://github.com/pebble-dev/The-Panic-Store repo whose description directs users to the new location, plus added `gh-pages` w/ quick JS redirects so that existing links (e.g. in blog posts that we don't have control over) will continue to work. :bowtie:

I'm not sure if the @github bot on Discord will still work - it "should" since the Webhooks are still in place - but LMK if

[2016-12-23 05:24] ishotjr commented on #51
@frostyfrog sorry, must have been having some kind of brain error - *`A`* records added and are already resolving! 😅

http://api.rebble.io/
http://docs.rebble.io/

[2016-12-23 05:24] #51 closed, assigned to ishotjr

[2016-12-23 08:21] mvaneijgen commented on #61
PR https://github.com/pebble-dev/rebble-store/pull/63  should fix this. Included to screenshots below what it looks like on my local machine
![rebble_app_store](https://cloud.githubusercontent.com/assets/3217544/21449721/7d371c88-c8f0-11e6-973b-fc7f14bfacfd.jpg)
![rebble_app_store](https://cloud.githubusercontent.com/assets/3217544/21449724/84c42676-c8f0-11e6-804b-be80a80591a1.jpg)

[2016-12-23 13:47] sGerli commented on #61
Going to test and then close

[2016-12-23 13:54] ishotjr commented on #48
@sGerli FYI re-added the repo to `#appstore`:

`!dbg add pebble-dev/rebble-store`

:bowtie:

[2016-12-23 16:18] Zetaphor opened #65 "Add documentation and dependency for Windows (WSL) users"
@sGerli has succesfully setup a dev environment in Windows 10 using the [Windows Subsystem for Linux](https://msdn.microsoft.com/commandline/wsl/about) (WSL). This required the addition of a patched version of the node-macaddress package.

This package needs to be added to the dev section of package.json, and the README updated to reflect the process for Windows users.

[2016-12-23 16:25] Zetaphor commented on #61
@mvaneijgen Fixed all the things! :heart:
Though I'd really like to know *why* they were broken. What was wrong with the SVG syntax before this PR?

[2016-12-23 16:25] #61 closed, assigned to Zetaphor, mvaneijgen

[2016-12-23 16:34] Zetaphor commented on #46
Fixed in #64 and #66

[2016-12-23 16:34] #46 closed, assigned to Zetaphor, sGerli

[2016-12-23 16:35] Zetaphor commented on #25
#64 and #66 took care of the standing giant sass issue. Are we ready to merge over master?
@sGerli? @ishotjr? @mvaneijgen?

[2016-12-23 16:36] #37 closed, assigned to KonradIT

[2016-12-23 16:39] mvaneijgen opened #67 "Better way of including SASS variables. Now they need to be included in all components using @import './static/css/_variables.scss';"
I had a lot of trouble getting the SASS variables in the site. The only way I found is adding `@import './static/css/_variables.scss';` at the top of the `<style>` tag in each compontent. There must be a better way, but may Google-fu wasn't their today.

[2016-12-23 16:40] #57 closed, assigned to mvaneijgen

[2016-12-23 17:50] Zetaphor commented on #67
I too was looking for something like this recently, and was basically told that I'm screwed :-(

I'll do some more googling and see if I can either find that post, or something useful

[2016-12-23 17:53] Zetaphor commented on #67
[Found it!](https://github.com/vuejs/vue-loader/issues/328) Lots of good discussion there.

[2016-12-23 19:53] bbenne10 opened #69 "Backend development work"
Before realizing that this work was ongoing here, I started my own project to expose the archive of the pebble store to the internet. I'm not overly fond of Vue.js and the like (and I do enough JS development at work...), but I do have some basic work completed which might interest you all.

So far I have a basic Flask application that allows for full text searches over the current store, and I ha

[2016-12-23 20:16] sGerli commented on #69
Hi @bbenne10 we are also working on the backend but on Go lang on the rebblestore-api repo, you can also find us on our Discord server to have a talk with all of us. http://rebble.io

[2016-12-23 20:16] #69 closed, assigned to nobody

[2016-12-23 20:18] sGerli commented on #65
It's not that macadress package, I'll do this later.

[2016-12-23 22:29] Zetaphor commented on #69
@bbenne10 I'm definitely interested in checking out what you have so far. Is there a repo you can point me to?

[2016-12-23 22:33] Zetaphor commented on #65
[Here is the post](https://github.com/AngularClass/angular2-webpack-starter/issues/1273) @sGerli referred to when discussing the fix in Discord.

Removed the package link from my original post since this requires a specific patch.

And here's the comment where he explained the fix:
[code]

[2016-12-24 15:14] bbenne10 commented on #69
@Zetaphor: Find the work I have completed thus far [here](https://github.com/bbenne10/pebble_store). It's not much, but it gets the ball rolling on my end. I'm home from work all of this week and will likely hop into the discord channel for a bit to discuss. Thanks for showing some interest.

[2016-12-26 00:41] sGerli commented on #25
Almost, but not yet

[2016-12-26 15:51] sGerli commented on #65
Added in #70 , so now this is done

[2016-12-26 15:51] #65 closed, assigned to Zetaphor

[2016-12-26 21:19] sGerli opened #72 "Add Back Button To Vue"
1. Add back button on all pages except App's home and Watchface's home.

![back](https://cloud.githubusercontent.com/assets/3890044/21486653/dbfede56-cb7d-11e6-9cd7-19883e7f19e7.PNG)

The back button code is: (Goes inside navbar like in [here](https://github.com/pebble-dev/rebble-store/blob/master/src/featured.html#L33))
[code]

[2016-12-26 21:21] sGerli commented on #56
How's the progress on this?

[2016-12-26 22:16] sGerli opened #74 "Change Nav-Buttons State"
Change nav App and Watchface buttons state to active depending on last visited page and default watchfaces.

[2016-12-26 22:17] sGerli commented on #25
This isn't done until #74 and #72 are closed.

[2016-12-26 23:25] Zetaphor commented on #56
No movement yet, been absent for holidays. Will look into this in the coming week.

[2016-12-26 23:27] Zetaphor commented on #25
I'm going to take point on those two, they will serve as a good example for you guys on how Vue handles component variables and state.

[2016-12-27 01:33] Zetaphor commented on #72
Fixed in #77

[2016-12-27 01:33] #72 closed, assigned to Zetaphor

[2016-12-27 01:55] Zetaphor commented on #74
Fixed in #78

[2016-12-27 01:55] #74 closed, assigned to Zetaphor

[2016-12-27 01:55] Zetaphor commented on #25
@sGerli Both of those are now closed :wink:

[2016-12-27 02:20] sGerli opened #81 "Fix (Re-add) App Screenshots Drag"
Re add js script to enable draggable screenshots as seen in the preview.

[2016-12-27 02:48] sGerli commented on #81
@Zetaphor We were using [dragscroll.js](https://github.com/pebble-dev/rebble-store/blob/master/src/app-details.html#L212) for this, what's the appropriate way of adding this to vue?

[2016-12-27 03:13] sGerli opened #83 "App-Versions Styles Broken"
App-versions styles should be exactly the same ones of app-details. I don't know if it possible but maybe even a subview. Currently it has no styles.

The only change is in the cards below app title container.

[2016-12-27 06:08] Zetaphor commented on #81
@sGerli, I'll take a look in the morning at how you did it on the old site and work up an implementation

[2016-12-27 13:03] sGerli commented on #81
Here's the link to the script's page https://github.com/asvd/dragscroll it just needs to load it's js and then looks for a div with `class="dragscroll"`.

[2016-12-27 14:22] Zetaphor commented on #81
Fixed in #84. There's a better way to do this using vue-strap, I'll have to revisit this later.

[2016-12-27 14:35] Zetaphor commented on #83
My mistake :-P
Fixed in #85

[2016-12-27 14:35] #83 closed, assigned to nobody

[2016-12-27 15:19] sGerli opened #87 "Preview (is) was dead"
We need to put this gh-pages in a subdomain like `store.rebble.io` to fix preview URL issues. I'm going to revert and will not make the changes until this is done.

[2016-12-27 15:21] sGerli commented on #25
Now we are ready to merge to `master`.

[2016-12-27 15:24] ishotjr commented on #87
@sGerli I'm not sure I understand - we already have it on `rebble.io` i.e.:

http://rebble.io/rebble-store/

Can you clarify the actual issue, and how a subdomain would behave differently vs. `rebble.io`?  Thanks!!! :bowtie: :heart:

[2016-12-27 15:29] sGerli commented on #87
We need a subdomain because vue looks for static files and other dependencies in the root folder `rebble.io` and they aren't in there and because of this it doesn't work.

[2016-12-27 15:35] Zetaphor commented on #56
After multiple failed attempts, I'm throwing my hands in the air :sob:

Having a hell of a time getting this running as my webpack-fu is weak. Since we've got SVG's working inline with external references, I see this as a "nice to have". Going to mark help-wanted and on-hold until one of us either has time to give it another go, or has a breakthrough.

[2016-12-27 15:35] ishotjr commented on #87
@sGerli OH! So the issue is the sub-folder vs. the domain itself - understood - will have this set up in a few hours... :sweat_smile:

[2016-12-27 22:09] mvaneijgen commented on #56
@Zetaphor would it be weird to run `grunt` with `webpack`?

[2016-12-28 03:35] ishotjr commented on #87
@sGerli I've submitted https://github.com/pebble-dev/rebble-store/pull/88 and made the necessary DNS changes for http://rebble.io/rebble-store/ to resolve as http://store.rebble.io/ - please merge and confirm that everything's working as desired as a result.  Thanks! :bowtie: 🚀

[2016-12-28 04:20] sGerli commented on #87
Ok, thanks. Merged and I will confirm tomorrow, subdomain is live

[2016-12-28 04:21] ishotjr commented on #87
@sGerli it's resolving for me already:

http://store.rebble.io/

:bowtie: 🚀

[2016-12-28 13:41] Zetaphor commented on #87
Confirmed, we're live!

[2016-12-28 13:41] #87 closed, assigned to ishotjr

[2016-12-28 14:04] Zetaphor commented on #25
Fixed in #89!

[2016-12-28 14:04] #25 closed, assigned to Zetaphor, sGerli

[2016-12-28 16:49] TheTechmage commented on #69
Sorry for not responding to this sooner @bbenne10. @Zetaphor just barely pointed this ticket out to me via discord. I've been working on the API within [rebblestore-api](https://github.com/pebble-dev/rebblestore-api) and haven't quite been paying attention to the issues that have been popping up in here. I'd be more than happy to discuss more with you if you have the time! (I'm currently the sole

[2017-01-02 22:08] sGerli commented on #81
I have been testing our last Vue build and I noticed that this only works if you go directly into http://store.rebble.io/#/app-details , It doesn't work if you go to any other page and then into app-details.

[2017-01-09 14:39] sGerli opened #90 "Migrate to Bootstrap 4 alpha 6"
- [x] Fix Navbar

- [x] Fix App Cards

- [ ] Fix Carousel Images Loosing proportions when browser resized

- [x] Fix Tags Not Inline

- [x] Fix App-Details and Versions page styles

Use http://store.rebble.io as reference.

[2017-01-09 18:50] sGerli commented on #90
Navbar and app Cards fixed in #92

[2017-01-09 18:53] sGerli commented on #90
Most issues seem to be caused by `display: flex;`

[2017-01-09 19:14] sGerli commented on #90
App Details Fixed in #93

[2017-01-09 19:20] #90 closed, assigned to nobody

[2017-01-10 16:58] sGerli opened #97 "Make UI Work With The Backend"
- [ ]  Fetch watchfaces page

- [ ] Fetch watchfaces slider images/categories

- [ ] Make watchfaces categories view all button work

- [ ] Fetch apps page

- [ ] Fetch apps slider images/categories

- [x] Fetch app tags

- [ ] Make app categories view all button work

- [ ] Make author pages work

- [x] Make search work

- [ ] Implement pagination or infinite scroll

- [x] Fetch app/watchface det

[2017-01-17 14:09] sGerli opened #99 "Archived Apps"
# How should an archived app be displayed?
- The same was as normal apps but with a red banner asking for approval from the developer (Rebble Store Ready).
- They should have an archived tag.
- The get button will link with the app's Pebble Store page while its still up.
- The thumbs up button isn't displayed.

# Rebble Store Ready program
A developer/app becomes Rebble Store Ready after the devel

[2017-01-17 14:10] sGerli commented on #99
![](https://github.trello.services/images/mini-trello-icon.png) [Archived Apps](https://trello.com/c/0BI6OXo3/16-archived-apps)

[2017-02-17 11:25] surdu commented on #25
Could there be a discussion if the project will continue to use the .vue approach or maybe have a separate folder for each component ?

I'm new to Vue and I'm looking for a starter project to get up to speed with Vue, but the .vue file approach looks very unappealing to me.

[2017-02-17 18:56] Zetaphor commented on #25
@surdu While I'm open to having a discussion, that's not going to happen without a valid technical reason.

The advantages afforded to us by Vue and Webpack with the single file component structure are numerous, and it doesn't make sense to throw that away based on an opinion of aesthetic.

Can you elaborate on what specifically bothers you about the .vue syntax?

If you're interested in learning

[2017-02-17 18:59] Zetaphor commented on #25
@surdu I think you'll find this [specific section from that page](https://vuejs.org/v2/guide/single-file-components.html#What-About-Separation-of-Concerns) to be informative.

[2017-05-09 01:59] Allen-B1 opened #103 "manifest.json not the same"
`/src/assets/manifest.json` is not the same as `/static/manifest.json` or `/dist/static/manifest.json`

[2017-05-09 02:05] #103 closed, assigned to nobody

[2017-08-10 21:01] sGerli commented on #97
Most of the backend endpoints have already been implemented by the awesome @pebble-dev/go-lang-backend team, so it's time to continue development

[2017-08-11 19:09] tomholford commented on #97
Would like to contribute if possible. Lots of experience with Angular, but also interested in learning Vue. Are there any small / self-contained tasks I could take a crack at?

[2017-08-11 19:10] sGerli commented on #97
@tomholford if you want to contribute just make a PR and it would be great if you joined our Discord server

[2018-01-29 20:08] sGerli opened #112 "Make frontend work correctly with boot api"
We have to make the frontend understand links provided by the boot API.

[code]

We can change those links but we have to work with those URL variables.

Because these ones are displayed in the app inside a webview we can hide the navbar and the download .pbw button.

More info about boot API https://github.com/pebble-dev/wiki/wiki/Mobile-Application-URI-Bootstrap

[2018-01-29 23:52] sGerli commented on #81
Reopening as this issue still exists, I didn't test correctly last time.

[2018-02-01 20:03] MHC03 commented on #56
Hi guys, this seems a bit old, but I was thinking about a solution for this when browsing through the project. I am not sure, if I have understood it right, but you want to directly load the svgs to the SvgContainer.vue through the webpack generated links? And the svgs should already have the id attribute with their respective name, something like that?

I am not sure, if following works and I hav

[2018-02-03 16:33] MHC03 opened #115 "Update Packages?"
Hi guys, when trying to solve #56, I saw many of the packages in package.json to be out-dated. Some by even 2 major versions. I wanted to ask, if you would like to update.

These packages are not up-to-date according to [npm-check-updates](https://www.npmjs.com/package/npm-check-updates):

[code]
I don't know, whether everything will break, but even if it does, the front-end should be updated befo

[2018-02-03 17:11] sGerli commented on #115
Yes we do have to update it but as you said some things may break, can you work on this?

[2018-02-03 18:42] MHC03 commented on #115
Yes, I will try to get it up-to-date. I will report, when I am facing problems.

[2018-02-04 01:46] #115 closed, assigned to nobody

[2018-02-05 13:14] sGerli commented on #112
#117 Added basic in-app support `/?platform=(ios or android)&watchPlatform=(basalt, aplite, chalk, diorite, and emery works for the apps that support it but almost no one will notice)`

[2018-02-06 00:35] #67 closed, assigned to nobody

[2018-02-08 22:49] MHC03 commented on #81
This may be solveable with an entire [new package](https://github.com/donmbelembe/vue-dragscroll). [Here](https://donmbelembe.github.io/vue-dragscroll/) are also some working example of the vue-dragscroll package.

Do I need to have the backend to get those pictures aligned like in the rebble io store page?

I would like to give the package a try, if noone is currently working on this.

[2018-02-16 23:45] #56 closed, assigned to Zetaphor

[2018-02-16 23:47] sGerli commented on #81
I tried to use that package but I wasn't able to make it work properly, maybe I made an error while trying to implement it

[2018-02-22 23:21] #81 closed, assigned to nobody

[2018-06-20 21:43] sGerli commented on #97
We decided not to use our API, instead replicate the Pebble app store API

[2018-06-20 21:43] #97 closed, assigned to nobody

[2018-06-20 21:45] sGerli opened #127 "Bind to the new Pebble app store API reimplementation"
See https://github.com/pebble-dev/rebble-appstore-api

TODO:
- [x] App card
- [x] App view
- [x] Author view
- [x] Category view
- [x] Collection view
- [x] App front page
- [x] Wathface frontpage
- [ ] Search page (Algolia)
- [x] Add heart to app
- [x] Authentication support (required by the heart system)

Extras:

- [x] App view multi-banner support

[2018-06-22 15:51] sGerli opened #129 "Localize all non-dynamic text"
Localize non-dynamic text using the same localizations as the Pebble Store.
Add translations for the following locales based on the legacy store translations:
- [ ] de_DE
- [ ] en_US
- [ ] es_ES
- [ ] fr_FR
- [ ] nl_NL
- [ ] pl_PL
- [ ] zh_CN
- [ ] ZH_TW

Related tasks:
- [ ] Add locale to route (`/en_US/faces`)
- [ ] Detect locale from browser (or check if its already stored in local-storage) if

[2018-06-22 15:52] sGerli opened #130 "Dynamic page titles"
Add dynamic page titles depending on the data loaded from backend and the context.

[2018-06-22 15:54] sGerli opened #131 "Never show blank pages: loaders"
Add loaders to dynamically fetched pages to avoid showing blank pages while loading.

- [ ] App home page loader
- [ ] Watchfaces home page loader
- [ ] Collection loader
- [ ] App details loader

[2018-06-22 15:56] sGerli opened #132 "Bind selected platform throughout the page"

[2018-07-01 14:17] strdr4605 opened #133 "Fix faces/apps menu display"
It would be better if faces/apps menu will not overlay search and other elements.
<img width="844" alt="screen shot 2018-07-01 at 16 06 43" src="https://user-images.githubusercontent.com/16056918/42135717-511be1a0-7d4f-11e8-83f0-e18b72e10504.png">
At least hide the menu on page change or move elements lower.

[2018-07-01 20:58] sGerli opened #134 "Add missing companion app details"
- [x] Companion app indicator

- [x] Companion OS compatibility

- [x]  Companion get button (???)

[2018-07-01 20:59] sGerli opened #135 "Add app icon to single card"
Show app icon next to the name if there's an icon to show.

- [ ] Add icon app icon to single card

[2018-07-01 23:22] strdr4605 commented on #133
@sGerli, what do you suggest? hide the menu on page change, move elements lower or something else?

[2018-07-02 17:51] sGerli commented on #133
I've been thinking about this and I'm actually not sure what to do

[2018-07-02 20:21] #133 closed, assigned to nobody

[2018-07-05 14:54] sGerli opened #138 "Algolia search query-parameters not updating results"
- Pages don't change according to route
- Search filters require a reload

[2018-07-17 13:48] phosphotungstic commented on #138
Hi! Has this been fixed? It seems to be working fine though I found something else where if you completely clear the search bar, it 404s on you.

[2018-07-18 12:03] sGerli commented on #138
Last time I checked that wasn’t the behavior, but who knows, right now I’m on vacation but I’ll try to confirm that

[2018-07-27 13:45] phosphotungstic commented on #138
Any word on if you've tried it out?

[2018-07-27 20:14] sGerli commented on #138
You're right clearing the search bar 404s  because the address gets changed to `:type/search/:page`, it's missing the query, it should reset to `:type/search/`. But the search filters still don't update results until reload. Also, last time I dived into the code I was unable to bind back the search page to Algolia.

[2018-09-23 14:46] LoveSponge opened #142 "Cannot add watchfaces after watch reset"
Steps to reproduce:

1. Add watchface from store
1. Factory reset watch
1. Remove pebble app and re-download and enable rebble
1. Setup watch
1. Go to store

Expected: should be able to download same watchface as before

Actual: watchface displays 'added' and cannot press to add

Expected: should be able to add any watchface

Actual: added watchfaces display as added but previously compatible are

[2018-09-27 22:42] LoveSponge commented on #142
Update; turns out I needed to login after updating from within the app.

Issue fixed.

[2018-09-27 22:42] #142 closed, assigned to nobody

[2018-10-29 22:51] JVimes opened #143 "Search results are all for non-round pebble (round app exists)"
If I use the app store search feature (in the Pebble Android app), then try to install a resulting app, I get a pop-up saying "Sorry! This app is not compatible with your Pebble smartwatch" and it shows pictures of square screen watches (I have Time Round). However, if I manually browse to the same app (e.g. Timer, or Timer+) not using the search feature, then it installs fine.

Maybe the search f

[2019-08-02 22:44] #138 closed, assigned to nobody

[2019-08-03 00:15] #112 closed, assigned to nobody

[2019-08-03 00:17] #127 closed, assigned to sGerli

[2019-08-03 00:17] #132 closed, assigned to nobody

[2019-08-03 00:23] sGerli opened #145 "Mobile app support"
Support all of the functionality of the mobile apps.

- [x] Check all the uses of Native in the legacy store and implement them if they haven't been implemented.

Related: #146, #147

[2019-08-03 00:27] sGerli opened #146 "Support adding an app through the mobile app"
Support the add app to locker button from the mobile app.
- [x] Add app
- [x] Disable if app is already in locker
- [x] Disable if not supported in the current platform

Related to #147

[2019-08-03 15:11] sGerli opened #147 "Implement the Native service"
This service handles sending messages to the mobile app.
Legacy store code:
[code]

[2019-08-03 16:07] sGerli opened #148 "Improve $store"
Add setters and getters to store, save platform, access token and hardware to local storage.
Related: #151

[2019-08-04 02:43] sGerli opened #150 "Fix app title overflow issues"
Fix app title overflow issues on apps with long titles like Runkeeper id: `52e05bd5d8561de307000039`

[2019-08-04 02:44] #147 closed, assigned to nobody

[2019-08-04 02:45] sGerli opened #151 "Add firmware checks"
Add firmware to store, and check its compatibility with apps.

[2019-08-04 02:46] #146 closed, assigned to nobody

[2019-08-04 15:53] #145 closed, assigned to nobody

[2019-08-04 15:53] sGerli commented on #145
Closed by #152

[2019-08-04 16:27] #134 closed, assigned to nobody

[2019-08-04 16:51] #150 closed, assigned to nobody

[2019-08-08 17:04] sGerli opened #156 "Fix search for platform 'all'"
Search returns no results if platform == 'all'.
We should remove that filter if platform == 'all'

[2019-08-08 17:05] #130 closed, assigned to nobody

[2019-08-08 17:06] sGerli opened #157 "Add no results found message to search"
Add a message to the search when no results were found.

[2019-08-09 00:35] #148 closed, assigned to nobody

[2019-08-09 18:23] #156 closed, assigned to sGerli

[2019-08-09 18:23] #157 closed, assigned to nobody

[2019-10-02 07:22] shubhang93 opened #161 "Get button to download the app is not working"
I am using the app on iOS and the get button to download the app on the rebble store is not downloading the app.

[2020-01-08 00:02] pelletencate commented on #161
I got the same issue. I have to surf now to apps.rebble.io using Safari on my phone, download the PBW file and send it to the Pebble app. It seems that the `pebble://` links won't work.

Clicking 'Get' in the store doesn't do anything, and manually opening a `pebble://` link from the website opens the Pebble app, which subsequently pops up an all white screen.

[2020-03-04 07:39] ruralTom opened #164 "The button to "view all" is missing from the watchfaces store"
When I go to browse the watch faces in the rebblestore the. "see all" option is missing from all but the generated watch faces.

[Link to photo showing what the heck I am speaking of](https://i.imgur.com/hVo1vQ7.png)

[2020-03-09 21:06] halkeye opened #165 ""Website Link" shows up for apps that don't have a website"
CSS is broken because a tags without href are not considered links by browser, and thus wrong cursor

Clicking on it gives you a new link to "null"

Example: /#/app/5b02f29f461a8dd931000e5a

[2020-03-10 03:38] sGerli commented on #99
Probably no longer relevant

[2020-03-10 03:38] #99 closed, assigned to nobody

[2020-03-10 03:40] sGerli commented on #164
This issue is not related to this repo (fontend), this is a known backend issue related to https://github.com/pebble-dev/rebble-appstore-api/issues/2

I'm going to close this issue because there's already a related issue in there.

[2020-03-10 03:40] #164 closed, assigned to nobody

[2020-08-20 21:16] mhelmetag commented on #129
Do y'all already use an i18n solution or would a choice need to be made for that as well?

[2020-08-28 00:41] sGerli commented on #129
That's a choice that still needs to be made.

[2020-09-01 07:16] mhelmetag commented on #129
I made a POC PR here: https://github.com/pebble-dev/rebble-store/pull/167. It's rough but should be a decent example of how translations could fold into the existing single file components using vue-i18n.

Open to any and all suggestions.

As an aside, in the old pebble store was there a dropdown of available locales? I don't remember at all... Just trying to figure out what the locale setting cho

[2020-09-01 07:20] mhelmetag commented on #131
For clarification, would this mean some kind of spinner/loading mask?

[2020-09-01 07:38] mhelmetag commented on #165
Would anyone be able to run a query on the DB to see if some website URLs are an empty string? It seems like they're usually `null` (so PG `nil`).

I think if [this line](https://github.com/pebble-dev/rebble-store/blob/master/src/components/pages/AppDetails.vue#L34) is changed to either be just a null check or a blank and null check, that'll work. Whichever works better depending on the data (not

[2020-09-01 17:58] mhelmetag commented on #165
I think also any time it's an external link the cursor is technically wrong. Or at least that's what I'm seeing in a few places across the app. So I think those are two separate issues.

[2020-09-04 18:11] sGerli commented on #131
It means a loading mask like the one that's used for apps on the main screen.
Some may already be implemented but they still need to be adjusted to the right size and may not work sometimes.

[2020-09-04 18:28] #165 closed, assigned to nobody

[2020-09-05 00:29] sGerli commented on #161
I've confirmed there's a problem that wasn't there before. I'll be taking a more in-depth look at it soon in order to fix it.

[2020-09-06 21:50] sGerli opened #172 "No id when opening app page directly"
For some reason the first one works but the second one doesn't and the url is opened with `$$id$$` in it

`https://apps.rebble.io/en_US/application/$$id$$?platform=android&release_id=4&app_version=4.3&pebble_color=$$pebble_color$$&hardware=$$hardware$$&uid=$$user_id$$&mid=$$phone_id$$&pid=$$pebble_id$$&$$extras$$`

`http://store-beta.rebble.io/#/app/$$id$$?&accessToken={access_token}&platform={pla

[2020-09-06 21:51] sGerli commented on #161
Fixed by #171
What @pelletencate reported is in #172

[2020-09-06 21:51] #161 closed, assigned to nobody

[2020-09-07 02:54] sGerli commented on #172
Fixed in beta 4

[2020-09-07 02:54] #172 closed, assigned to nobody

[2020-09-08 00:21] sGerli opened #175 "Update vue and dependencies"
Currently the project is running on an old version of Vue, we should update it to the latest.
This would involve updating at least:
- [ ] vue 2.6.11 (latest stable) and its dependencies
- [ ] vue-instantsearch 3.2.0 (aka algolia)
- [ ] bootstrap-vue 2.17.0
- [ ] vue-dragscroll 2.1.0
- [ ] build scripts compatible with updated versions (currently using Webpack, but may change if necessary)

Some of

[2020-09-15 16:53] sGerli opened #176 "Test native service (aka in-app interactions)"
Make sure native service works correctly in iOS and Android.
- [ ] Add app to locker
- [ ] Open external URL
- [ ] Open pebble deeplink
- [ ] Open app details from app

[2020-09-15 17:02] sGerli opened #177 "Error handling"
Show errors when necessary:

- [ ] Invalid access_token error (when adding likes)
- [ ] Incompatible watch when adding app to locker
- [ ] 404 on app details
- [ ] 404 on collection
- [ ] 404 on invalid route
- [ ] 404 on page number out of range
- [ ] Unable to contact backend error (offline)
- [ ] Handle other unknown server errors

[2020-09-15 18:20] sGerli opened #178 "Testing"
Test that all features work correctly on web, in-app iOS, and in-app Android.
Pages to test:
- [ ] Watchfaces home
- [ ] Apps home
- [ ] App details page
- [ ] Watchface details page (their almost the same but still some parts work differently)
- [ ] Collection page
- [ ] App category page
- [ ] Search page
- [ ] Home banners (currently not showing because there are no banners in our store instanc

[2020-09-16 06:28] mhelmetag commented on #178
I'm down to pair on testing sometime! I have an android device and a pebble time.

[2020-09-21 16:32] mhelmetag commented on #135
IMO this seems like it'd make the card a bit "busy". In the original app, there was only the icon and title in the card. I think the screenshot is a better thing to have in the card (as it is now), as it gives a better "quick look" at the app or watchface.

[2020-09-22 16:04] Yuuliya commented on #178
web and in-app iOS

[2020-10-09 06:33] mhelmetag commented on #143
Just for help debugging "chalk" is the hardware name for the pebble round.

[2020-10-09 07:00] mhelmetag commented on #143
So... there is a settings page where you can specify your pebble version (this is only available in dev mode though). Setting the pebble version here will cause the search results to be correct.

Is the bug that this setting just isn't carried over from the app correctly?

I don't see any other way this could be set other than from the settings page so I'm not really convinced this is a bug vs jus

[2020-10-09 08:46] Willow-Systems commented on #143
For reference: the OG store sends the platform during the POST to agolia. Here is the search request from the beta store:

![image](https://user-images.githubusercontent.com/24474651/95562478-bb67eb80-0a0b-11eb-8261-0dd8a5dbb515.png)

and from the OG store:

![image](https://user-images.githubusercontent.com/24474651/95562499-c3279000-0a0b-11eb-8346-b57aa0ca0c50.png)

Note the extra field in the O

[2020-10-09 19:12] sGerli commented on #143
Thats not the issue, you can see in here https://github.com/pebble-dev/rebble-store/blob/b4d5ecf61521b5558578deb2e946b1adb94b31ad/src/components/pages/Search.vue#L72 that the filter is getting set

![image](https://user-images.githubusercontent.com/3890044/95622486-d6008b80-0a30-11eb-8b37-b30c880924bb.png)

And the results are Chalk apps http://store-beta.rebble.io/faces/search?hardware=chalk

![i

[2020-10-09 22:10] mhelmetag commented on #143
Right, the search works as long as the localstore has the right hardware type set but... the hardware type doesn't get set by the Pebble app and it seems like the only way to set it is through the settings page.

Just trying to figure out the real issue and it doesn't seem like a "bug". More like missing functionality in that the Pebble app passing Pebble data to the appstore on index so that loca

[2020-10-11 22:36] sGerli commented on #143
I'm not sure about Android but atleast on iOS with the updated boot settings it does get set by the Pebble app.

[code]

There are some url parameters that should be getting replaced by the app.

[2021-06-01 09:38] hellcp opened #181 "Dark mode"
Since the Rebble mobile app will have both light and dark themes, it would be good to preserve that inside the store.

[2021-07-17 22:36] okzz opened #182 "cannot get the TimeStyle watchface by Freakified - "GET" button seems to be inactive"
![Screenshot_20210717-022033.png](https://user-images.githubusercontent.com/20699072/126050741-24b6fdb9-f47f-4646-9a92-3fc2cfc41349.png)

[2022-01-15 18:35] sla80 opened #184 "Forbidden installation on Aplite model"
Hello,

I have released an update to my "Moscow Time" watchface, which is designed for models Aplite, Basalt, Chalk, Diorite:
https://apps.rebble.io/en_US/application/5b2fffc1fbaf9a5d39000545
But a user reports, that he can't install it on his "Pebble Steel" (which is APLITE model), because system says it is designed for models Basalt, Chalk, Emery.

**Bug:** Installation is allowed on models: **B